# Ignorer les dossiers statiques
apps/static/** linguist-vendored
apps/static/assets/** linguist-vendored

# Ignorer Templates
apps/templates/home/** linguist-vendored

# Exclude filetypes
*.css linguist-vendored
*.scss linguist-vendored

# Ignorer les migrations Python
home/migrations/* linguist-generated