# Ignorer les dossiers statiques
apps/static/** linguist-vendored
apps/static/assets/** linguist-vendored

# Ignorer Templates
apps/template/home/** linguist-vendored
apps/template/layouts/** linguist-vendored

# Exclude filetypes
*.css linguist-vendored
*.scss linguist-vendored

# Ignorer les migrations Python
home/migrations/* linguist-generated