
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">
                    Maxime DES TOUCHES - {% now 'Y' %} | <a target="_blank"
                        href="https://github.com/elreviae" class="text-blue"> <i class="fa-brands fa-github"></i></a> | Using <a target="_blank" href="https://github.com/startbootstrap/startbootstrap-sb-admin-2">Start Bootstrap - SB Admin 2</a>
                </div>

            </div>
        </div>
    </footer>
