{% extends "layouts/base.html" %}

{% block title %} Inventory {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
    <main>
        <div class="container-fluid px-4">

            <h1 class="card-title text-center mt-4 mb-4"><i class="fa-solid fa-pen-to-square"></i> Modifier</h1>
            <h2 class="text-center mb-4">{{ item }}</h2>

        <div class="card shadow-sm">
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.type.id_for_label }}" class="form-label fw-bold">Type d'équipement</label>
                            {{form.type}}
                            {% if form.type.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.type.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.brand.id_for_label }}" class="form-label fw-bold">Marque</label>
                            {{ form.brand }}
                            {% if form.brand.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.brand.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.model.id_for_label }}" class="form-label fw-bold">Modèle</label>
                            {{ form.model }}
                            {% if form.model.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.model.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.serial_number.id_for_label }}" class="form-label fw-bold">Numéro de série</label>
                            {{ form.serial_number }}
                            {% if form.serial_number.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.serial_number.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <!-- Attribué à -->
                        <div class="mb-3 col-md-6">
                            <label for="{{ form.assigned_to.id_for_label }}" class="form-label fw-bold">Attribué à</label>
                            {{ form.assigned_to }}
                            {% if form.assigned_to.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.assigned_to.errors }}
                                </div>
                            {% endif %}
                        </div>
                         <!-- Site -->
                          <div class="mb-3 col-md-6">
                            <div class="border rounded p-3 bg-light" style="max-height: 150px; overflow-y: auto;">
                                {% for checkbox in form.site %}
                                    <div class="form-check">
                                        {{ checkbox.tag }}
                                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if form.site.errors %}
                                <div class="text-danger small">{{ form.site.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Date d'achat -->
                        <div class="mb-3 col-md-6">
                            <label for="{{ form.purchase_date.id_for_label }}" class="form-label fw-bold">Date d'achat</label>
                            {{ form.purchase_date }}
                            {% if form.purchase_date.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.purchase_date.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.notes.id_for_label }}" class="form-label fw-bold">Notes</label>
                        {{ form.notes }}
                        {% if form.notes.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.notes.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'home' %}" class="btn btn-secondary">Retour à la liste</a>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
